@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Barlow", sans-serif;
}
#header {
  height: 150px;
}
header {
  background-color: #ce2829;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
  border-bottom: #c20608;
  box-shadow: 0px 0px 150px -30px rgba(0, 0, 0, 0.09);
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 532px;
  margin: 16px auto 20vh auto;
}

div#form-container h2 {
  display: flex;
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 22px;
  color: #292929;
  height: 56px;
  align-items: center;
  margin-top: 16px;
}

#price-review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 16px 8px; */
}
#price-review-container h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  color: #292929;
  flex: 3;
}
#review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #5f5f5f;
  flex: 1;
}
#description {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0%;
  /* color: #5f5f5f;
  padding: 0px 8px; */
}

#size-thickness {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 428px;
  margin: 16px 0px;
}

legend {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 24.78px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

#ingredient-checkboxes {
  margin: 32px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#additional-ingredients p {
  margin-bottom: 16px;
}
#order-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#order-quantity {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 57px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
#order-quantity button {
  flex: 1;
  background-color: #fdc913;
  height: 100%;
  font-weight: 600;
}
button#minus-qty {
  border-radius: 5px 0px 0px 5px;
}
button#add-qty {
  border-radius: 0px 5px 5px 0px;
}
#order-quantity p {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0px;
  font-weight: 600;
}
#order-now {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  height: 255px;
  overflow: hidden;
}

#order-total {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 40px 24px 24px;
}
#order-total legend {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
}

#subtotals {
  display: flex;
  flex-direction: column;
}
#subtotals div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#order-button {
  flex: 3;
  width: 100%;
  background-color: #fdc913;
  font-weight: 600;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#choices-subtotals p {
  color: #5f5f5f;
  font-weight: 600;
  font-style: SemiBold;
}

#total p {
  color: #ce2829;
  font-weight: 600;
  font-style: SemiBold;
}
hr {
  margin: 32px 0px;
}
